.card-img-top {
    width: 100%;
    height: 400px;
}

.image-container {
    position: relative;
    display: inline-block;
}
.footer-logo{
    width:80px;
}
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    /* Adjust the opacity value as needed */
    z-index: 1;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}


.card-title {
    font-family: 'Poppins';
    font-size: 1.8rem;
}

.card-text {
    font-family: 'Poppins';
    font-weight: 100;
}

.discount {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    top: 20%;
    text-align: center;
    color: white;
}

.img-fluid {
    /* position: relative; */
    z-index: 90;
    max-width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 35%;
    left: 36%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: left;
    z-index: 101;
    /* Ensure the text appears above the menubar */
    font-size: 4vw;
    letter-spacing: -0.6px;
    line-height: 112.5%;
    font-weight: 600;
    display: inline-block;
    width: 54vw;
    height: 98px;
}


.navbutton {
    background-color: #5da0ef;
    border-radius: 8px;
    /* width: 16%; */
    justify-content: center;
    height: 34px;
    font-size: 11px;
    padding: 11px 10px 0px 10px !important;
}
.carousel-inner {
    position: relative;
    width: 70%;
    display: block;
    height: 127vh;
    margin: auto;
    overflow: hidden;
}
.view{
    background-color: black !important;
    border: solid black !important;
   }
.navbutton2 {
    background-color: #000000;
    border-radius: 8px;
    /* width: 16%; */
    justify-content: center;
    height: 34px;
    font-size: 11px;
    padding: 11px 10px 0px 10px !important;
    margin-left: 15px;
}

.para-overlay {
    position: absolute;
    top: 62%;
    font-weight: 100;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    z-index: 101;
    /* Ensure the text appears above the menubar */
    color: white;
    text-align: left;
    font-size: 1.5vw;
    width: 43vw;
    letter-spacing: -0.6px;
    line-height: 137%;
    display: inline-block;
    height: 105px;
    font-family: 'Poppins', sans-serif;
}

.menubar {
    /* position: absolute; */
    top: 0;
    z-index: 100;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 45px;
}

/* New Navbar Styles */

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index: 2;
}

.image2 {
    margin: auto;
    display: block;
    margin-top: 50px;
}

.nav>.nav-header {
    display: inline;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100% !important;
    }
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    padding: 10px 10px 10px 24px;
    font-size: 2vw;
    letter-spacing: -1.23px;
    color: #5da0ef;
    text-align: center;
}

.small-image {
    position: absolute;
    top: 75%;
    left: 8%;
    width: 10vw !important;
}

.big-image {
    position: absolute;
    width: 49vw !important;
    top: 25% !important;
    left: 25% !important;
}

.nav>.nav-btn {
    display: none;
}

.section2 {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 13%;
    margin-bottom: 13%;
    background-color: #aacaf126;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 1.3vw;
    position: absolute;
    right: 33px;
    top: 2px;
    color: white;
    font-family: 'Poppins';
}

.grp1 {
    display: inline-block;
    padding-top: 5%;
    margin-top: 5%;
    margin: auto;

}

.section2 .img-fluid.grp2 {
    position: absolute;
    top: 3%;
    left: 4vw;
    width: 10vw;

}

.section2 {
    position: relative;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-weight: 200;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }


   
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        
        position: absolute;
        display: block;
        width: 100%;
        background-color: #000;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
   
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        font-size: 15px;
        font-family: 'Poppins';
        text-align: center;
        height: auto !important;
        padding: 27px;
    }
     .nav{
        z-index: 110;
     }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.home-child23,
.home-child24,
.home-child25 {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    border-radius: 0 var(--br-xl) 0 0;
    background: linear-gradient(1.21deg, rgba(20, 119, 235, 0.8), rgba(116, 123, 132, 0.4) 50%, rgba(217, 217, 217, 0));
    width: 100%;
    height: 400px;
}

img::after {
    background-color: linear-gradient(1.21deg, rgba(20, 119, 235, 0.8), rgba(116, 123, 132, 0.4) 50%, rgba(217, 217, 217, 0)) !important;
}

.card {
    width: 344px;
    border: none !important;
}

.col {
    flex: 0 1 0% !;
    display: block !important;
    margin: auto !important;
    margin-top: 10px !important;
}

.row {
    --bs-gutter-x: -13.5rem !important;
}

.btn {
    background-color: var(--color-black);
    height: 100%;
    width: 52%;
    border: var(--color-black);
    border-radius: var(--br-8xs);
}

.Collection {
    margin-top: 100px;
}


@media screen and (max-width: 500px) {
    .row {
        --bs-gutter-x: 0rem;
    }

    .para-overlay {
        top: 83%;
    }

    .text-overlay {
        top: 56%;
    }

    .nav>.nav-header>.nav-title {
        display: inline-block;
        padding: 2px 8px 11px 30px;
        font-size: 5vw;
        letter-spacing: -1.23px;
        color: #5da0ef;
        text-align: center;
    }

}

@media (max-width:600px) {
    .row {
        --bs-gutter-x: 0rem !important;
    }

}

.stars {
    display: block;
    margin: auto;
    width: 46% !important;
    padding: 12px;
    height: 10% !important;
}

.card-text:last-child {
    padding-bottom: 14px;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}
.col-md-6 {
    font-family: 'Poppins';
    font-size: 13px;
    color: white;
    font-weight: 100;
}
a {
    text-decoration: none;
}

.site-footer h6 {
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 5px;
    font-family: 'Poppins';
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white;
    font-weight: 100;
    font-family: 'Poppins';
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none !important;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
